{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
        "impliedStrict": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "globals": {
    "angular": true,
    "define": true
  },
  "rules": {
    "strict": 1,
    "semi": ["error", "always"],
    "no-empty": [
      "error", {
        "allowEmptyCatch": true
      }
    ]
  }
}
